ul {
    list-style: none;
    padding-left: 0;
    line-height: 170%;
    font-size: 14px;
}

li {
    color: black;
    font-size: 14px;
}

h4 {
    font-weight: bold;
    font-size: 12px;
}

.footer-logo img {
    height: 100px;
}