table {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: black;
  border-collapse: collapse;

  width: 100%;
}

th {
  font-size: 13px;
  text-align: center;
  padding: 15px;
}

td {
  background-color: white;
  padding: 8px;
}

tr {
  border-top: black;
}

button {
  font-size: 13px;
  border: 1px solid #eee;
  background-color: white;
  vertical-align: middle;
  word-spacing: -0.5px;
  padding: 8px 16px;
  cursor: pointer;
}

input[type='checkbox'] {
  cursor: pointer;
}
